@use "../abstracts" as *;
.contact-intro {
	@include intro;
	.contact-title {
		@include title;
		font-size: 96px;
	}
}
.contact-content {
	margin: 1.5rem;
	margin-bottom: 10%;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	@media (min-width: 768px) {
		flex-wrap: nowrap;
	}
	.contact-form {
		margin: 1rem;
	}
	.contact-img {
		display: none;
		@media (min-width: 768px) {
			display: flex;
		}
	}
}
