@use "../abstracts" as *;
.contact {
	// section 1
	background-color: #fff8fa;
}
.contact-intro {
	@include intro;
	.contact-text {
		font-size: 1.5rem;
	}
}
.contact-content {
	margin: 1.5rem;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	@media (min-width: 768px) {
		flex-wrap: nowrap;
	}
	.contact-form {
		margin: 1rem;
	}
	.contact-img {
		display: none;
		@media (min-width: 768px) {
			display: flex;
		}
	}
}
