@use "../abstracts" as *;

.galerie-intro {
	margin-left: 5rem;
	margin-top: 3rem;
	.galerie-text {
		font-size: 1.5rem;
	}
}

.galerie-nav {
	display: flex;
	justify-content: center;
	.nav-list {
		display: flex;
		list-style: none;
		.list-individual {
			margin: 0.5rem;
			.list-a {
				font-size: larger;
				text-decoration: none;
				color: #c4c3c3;
				transition: 0.5s;
			}
			.list-a:hover {
				color: #000000;
				transition: 0.5s;
			}
		}
	}
}

.galerie-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	margin-top: 1rem;
	.galerie-items {
		list-style: none;
	}
}

.galerie-pagination {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 2rem;
	font-size: 1.5rem;
	align-items: center;

	.current {
		font-size: 3rem;
	}

	.page-numbers {
		text-decoration: none;
	}
}
