@use "../abstracts" as *;
.galerie {
	// section 1
	background-color: #fff8fa;
}
.galerie-intro {
	@include intro;
}
.galerie-nav {
	@include nav;
	@media (min-width: 600px) {
		justify-content: center;
	}
	.galerie-nav-list {
		@include nav-list;
		@media (min-width: 600px) {
			flex-direction: row;
			font-size: larger;
			gap: 2rem;
		}
		.galerie-button {
			@include bouton-red;
			width: fit-content;
			background-color: color("bouton-red");
			&:hover,
			&:focus {
				background-color: inherit;
			}
			.galerie-a {
				@include list-a;
			}
			.galerie-a:hover {
				@include list-a-hover;
			}
		}
	}
}
.galerie-wrapper {
	@include wrapper;
	@media (min-width: 768px) {
		grid-template-columns: repeat(4, 1fr);
	}
	.galerie-items {
		@include wrapper-items;
		.galerie-item-title {
			@include item-title;
		}
	}
}
.galerie-pagination {
	@include pagination;
	.current {
		color: #9d1b2e !important;
		font-size: 3rem;
	}
	.page-numbers {
		text-decoration: none;
		color: black;
	}
}
