@use "../abstracts" as *;
.home {
	.accueil-post1 {
		.accueil-title {
			@include title;
			font-size: 96px;
		}
		.accueil-subtitle {
			@include title;
			font-size: 52px;
		}
		.accueil-text {
			margin-left: 11%;
			max-width: 70%;
			font-size: 24px;
		}
		.accueil-btn {
			gap: 175px;
			.wp-block-button__link {
				all: unset;
				display: block;
				@include bouton-red2;
			}
		}
	}

	.accueil-post2 {
		margin-top: 5%;
		.accueil-subtitle1 {
			@include title;
			text-align: center;
			margin-left: 0%;
			font-size: 96px;
			margin-bottom: 5%;
		}
		.accueil-btn1 {
			margin-top: 2%;
			margin-bottom: 2%;
			.wp-block-button__link {
				all: unset;
				display: block;
				@include bouton-red2;
			}
		}
		.accueil-text1 {
			width: 40%;
			margin: auto;
			font-size: 24px;
		}
	}

	.accueil-post3 {
		margin-top: 5%;
		.accueil-subtitle2 {
			@include title;
			font-size: 96px;
		}
		.mosaic.oeuvre {
			width: 75%;
			margin: 0 auto;
		}
		.mosaic {
			display: flex;
			gap: 40px;
			align-items: flex-start;

			.col {
				display: flex;
				flex-direction: column;
				gap: 40px;
			}
			.col2 {
				gap: 150px;
			}

			.left {
				width: 35%;
			}

			.right {
				width: 65%;
			}
		}
		.row-small {
			display: flex;
			gap: 20px;

			img {
				width: 100%;
			}
		}
		.raw-small2 {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
		.accueil-oeuvre-content {
			margin-left: 12.5%;
			display: flex;
			margin-top: 2%;
			margin-bottom: 5%;
			.accueil-oeuvre-text {
				width: 62%;
				font-size: 24px;
			}
			.wp-block-button__link {
				all: unset;
				display: block;
				@include bouton-red2;
			}
		}
	}

	.accueil-post4 {
		display: flex;
		flex-direction: column;
		align-items: center;
		.presse {
			display: flex;
			justify-content: end;
			margin-left: 70%;
			font-size: 96px;
		}
		.flex-viewport {
			height: 200px;
			place-content: center;
			img {
				border-radius: 5%;
			}
		}
		.accueil-oeuvre-text1 {
			width: 60%;
			font-size: 24px;
			margin-top: 2.5rem;
			margin-bottom: 10rem;
		}
	}
}
