// =============================================================================
// Home Page
// =============================================================================

@use '../abstracts' as *;

.home {
	// Add home page specific styles here
}
