@use "../abstracts" as *;

.media-intro {
	margin-left: 5rem;
	margin-top: 3rem;
	.media-text {
		font-size: 1.5rem;
	}
}

.media-wrapper {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: minmax(100px, auto);
	justify-items: center;
	margin-top: 3rem;

	.wp-block-image {
		img {
			width: 10rem;
			filter: grayscale(100%);
			transition: 0.5s;
		}
	}
	.wp-block-image:hover {
		img {
			filter: none;
			transform: scale(1.1);
			transition: 0.5s;
		}
	}
}
