@use "../abstracts" as *;
.media-intro {
	@include intro;
	.presse-title {
		@include title;
		font-size: 96px;
	}
}
.presse-p {
	margin-left: 13%;
	font-size: 1.5rem;
	margin-top: 2rem;
}
.presse-icons {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-items: center;
	margin: 3rem;
	gap: 3rem;
	.wp-block-image {
		img {
			width: 85%;
			filter: grayscale(100%);
			transition: 0.5s;
		}
	}
	.wp-block-image:hover {
		img {
			filter: none;
			transform: scale(1.1);
			transition: 0.5s;
		}
	}
}
