@use "../abstracts" as *;
.media-intro {
	@include intro;
	.media-text {
		font-size: 1.5rem;
	}
}
// .body .is-layout-grid {
// 	display: grid;
// 	align-items: center;
// 	margin: 4rem;
// 	gap: 3rem;
// }
.media-wrapper {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: minmax(100px, auto);
	justify-items: center;
	margin-top: 3rem;

	.wp-block-image {
		img {
			width: 10rem;
			filter: grayscale(100%);
			transition: 0.5s;
		}
	}
	.wp-block-image:hover {
		img {
			filter: none;
			transform: scale(1.1);
			transition: 0.5s;
		}
	}
}
