@use "../abstracts" as *;
.oeuvre {
	display: grid;
	justify-content: center;
	.oeuvre-list {
		display: flex;
		justify-content: space-between;
		list-style: none;
		.oeuvre-title {
			margin: 1rem;
			@include media($mobile) {
				font-size: 25px;
			}
		}
		.oeuvre-date {
			margin: 2rem;
			@include media($mobile) {
				font-size: 25px;
				margin: 1rem;
			}
		}
	}
}
.oeuvre-info {
	margin: 3rem;
	margin-top: -2rem;
	.oeuvre-dimensions {
		margin: 1rem;
	}
	.oeuvre-description {
		margin: 1rem;
	}
}
