// =============================================================================
// Footer
// =============================================================================

@use '../abstracts' as *;

.site-footer {
	padding: spacing('xl') 0;
	margin-top: spacing('xxl');
	background-color: color('bg-alt');
	border-top: 1px solid color('border');
	background-color: #9d1b2e;

	.container{
		max-width: 100%;
		width: 100%;

	}
}

.footer-widgets {
	margin-bottom: spacing('lg');
}

.site-info {
	margin-top: 3%;
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 100%;
	width: 100%;
	h5{
		color: #3BC7C9;
	}
	.info{
	display: flex;
	justify-content: space-around;
	color: #3BC7C9;
		.info-perso{
			display: flex;
  			flex-direction: column;
			gap: 32px;
			
		}
	}
	.footer-navigation {
		margin-bottom: spacing('md');

		.footer-menu {
			display: flex;
			justify-content: center;
			gap: spacing('md');
			list-style: none;
			padding: 0;
			margin: 0;
		}
	}

	.copyright {
		margin: 0;
		font-size: font-size('small');
		color: color('text-light');
	}
}
