// =============================================================================
// Footer
// =============================================================================

@use "../abstracts" as *;

.site-footer {
	background-color: color("bg-alt");
	border-top: 1px solid color("border");
	background-color: #9d1b2e;

	.container {
		max-width: 100%;
		width: 100%;
	}
}

.footer-widgets {
	margin-bottom: spacing("lg");
}

.site-info {
	margin-top: 3%;
	max-width: 100%;
	width: 100%;
	h5 {
		color: #ffffff;
	}
	.info {
		display: grid;
		color: #ffffff;
		text-align: center;
		margin: 2.5rem;
		grid-template-columns: repeat(3, 1fr);
		@include media($mobile) {
			grid-template-columns: repeat(1, 1fr);
			margin: 0rem;
			margin-top: 3rem;
			margin-bottom: 2rem;
			gap: 2rem;
		}
		.info-perso {
			display: flex;
			flex-direction: column;
			align-items: center;
			.footer-h4-1 {
				text-decoration: none;
				color: #ffffff;
			}
		}
		.footer-form {
			justify-items: center;
		}
		.footer-pages-list {
			display: flex;
			flex-direction: column;
			align-items: center;
			@include media($mobile) {
				display: none;
			}
			.footer-h4-2 {
				text-decoration: none;
				color: #ffffff;
			}
			.footer-a {
				text-decoration: none;
				color: #ffffff;
				font-size: 1.2rem;
				width: 15%;
			}
			.footer-a:hover {
				color: white;
			}
		}
	}
	.footer-imgs {
		img {
			width: 80px;
		}
	}
	.footer-navigation {
		margin-bottom: spacing("md");

		.footer-menu {
			display: flex;
			justify-content: center;
			gap: spacing("md");
			list-style: none;
			padding: 0;
			margin: 0;
			@include media($mobile) {
				flex-wrap: wrap;
			}
			li {
				a {
					text-decoration: none;
					color: white;
				}
			}
		}
	}

	.copyright {
		color: white;
		text-align: center;
		font-size: font-size("small");
	}
}
