// =============================================================================
// Grid
// =============================================================================

@use "../abstracts" as *;

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-main {
	flex: 1;
	padding: spacing("xl") 0;

	.container {
		display: grid;
		gap: spacing("xl");
	}

	&.no-sidebar .container {
		grid-template-columns: 1fr;
	}
}

.no-sidebar .site-main .container {
	max-width: 800px;
}
