// =============================================================================
// Typography
// =============================================================================

@use '../abstracts' as *;

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: spacing('md');
	font-family: font-family('primary');
	font-weight: font-weight('bold');
	line-height: line-height('heading');
	color: color('text');
}

h1 {
	font-size: font-size('h1');
}

h2 {
	font-size: font-size('h2');
}

h3 {
	font-size: font-size('h3');
}

h4 {
	font-size: font-size('h4');
}

h5 {
	font-size: font-size('h5');
}

h6 {
	font-size: font-size('h6');
}

// Paragraphs
p {
	margin-bottom: spacing('md');
}

// Links
a {
	color: color('link');
	text-decoration: underline;

	&:hover,
	&:focus {
		color: color('link-hover');
	}
}

// Lists
ul,
ol {
	margin-bottom: spacing('md');
	padding-left: spacing('lg');
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

li {
	margin-bottom: spacing('sm');
}

// Blockquote
blockquote {
	margin: 0 0 spacing('md');
	padding: spacing('md');
	border-left: 4px solid color('primary');
	background-color: color('bg-alt');
	font-style: italic;

	p {
		margin-bottom: 0;
	}

	cite {
		display: block;
		margin-top: spacing('sm');
		font-size: font-size('small');
		font-style: normal;
		color: color('text-light');
	}
}

// Code
code,
kbd,
pre,
samp {
	font-family: font-family('code');
	font-size: 0.875em;
}

code {
	padding: 0.125em 0.25em;
	background-color: color('bg-alt');
	border-radius: border-radius('sm');
}

pre {
	margin-bottom: spacing('md');
	padding: spacing('md');
	overflow-x: auto;
	background-color: color('bg-alt');
	border-radius: border-radius();

	code {
		padding: 0;
		background-color: transparent;
	}
}

// Text utilities
strong,
b {
	font-weight: font-weight('bold');
}

em,
i {
	font-style: italic;
}

small {
	font-size: font-size('small');
}

mark {
	padding: 0.125em 0.25em;
	background-color: color('warning');
	color: color('text');
}

// Horizontal rule
hr {
	margin: spacing('lg') 0;
	border: 0;
	border-top: 1px solid color('border');
}

// Definition list
dl {
	margin-bottom: spacing('md');
}

dt {
	font-weight: font-weight('bold');
}

dd {
	margin-left: 0;
	margin-bottom: spacing('sm');
}
